<!DOCTYPE html>
<html lang="en" class="app" ng-app="@ViewBag.ngApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Planificación de Medios</title>

    @Styles.Render("~/Content/css/styles")
    @Scripts.Render("~/bundles/scripts/basicScripts")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
</head>
    <body class="fixed-navbar fixed-sidebar">                      
        <!-- Header -->
        <div id="header">
            <div class="color-line">
            </div>
            <div id="logo" class="light-version">
                <i class="logo-irsa"></i>
            </div>
            <nav role="navigation">
                <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
                <div class="small-logo">
                    <i class="logo-irsa"></i>
                </div>              
                <div class="mobile-menu">                           
                </div>
                <div class="navbar-right">
                    @*<ul class="nav navbar-nav no-borders">
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                <i class="pe-7s-speaker"></i>
                            </a>
                            <ul class="dropdown-menu hdropdown notification animated flipInX">
                                <li>
                                    <a>
                                        <span class="label label-success">NEW</span> It is a long established.
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="label label-warning">WAR</span> There are many variations.
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="label label-danger">ERR</span> Contrary to popular belief.
                                    </a>
                                </li>
                                <li class="summary"><a href="#">See all notifications</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                <i class="pe-7s-keypad"></i>
                            </a>

                            <div class="dropdown-menu hdropdown bigmenu animated flipInX">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a href="projects.html">
                                                    <i class="pe pe-7s-portfolio text-info"></i>
                                                    <h5>Projects</h5>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="mailbox.html">
                                                    <i class="pe pe-7s-mail text-warning"></i>
                                                    <h5>Email</h5>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="contacts.html">
                                                    <i class="pe pe-7s-users text-success"></i>
                                                    <h5>Contacts</h5>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="forum.html">
                                                    <i class="pe pe-7s-comment text-info"></i>
                                                    <h5>Forum</h5>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="analytics.html">
                                                    <i class="pe pe-7s-graph1 text-danger"></i>
                                                    <h5>Analytics</h5>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="file_manager.html">
                                                    <i class="pe pe-7s-box1 text-success"></i>
                                                    <h5>Files</h5>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
                                <i class="pe-7s-mail"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu hdropdown animated flipInX">
                                <div class="title">
                                    You have 4 new messages
                                </div>
                                <li>
                                    <a>
                                        It is a long established.
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        There are many variations.
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        Lorem Ipsum is simply dummy.
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        Contrary to popular belief.
                                    </a>
                                </li>
                                <li class="summary"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" id="sidebar" class="right-sidebar-toggle">
                                <i class="pe-7s-upload pe-7s-news-paper"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="login.html">
                                <i class="pe-7s-upload pe-rotate-90"></i>
                            </a>
                        </li>
                    </ul>*@
                </div>
            </nav>
        </div>

        <!-- Navigation -->
        <aside id="menu">
            <div id="navigation">
                <div class="profile-picture">                   
                    <div class="stats-label text-color">
                        <span class="font-extra-bold font-uppercase">SPoszalski</span>                                            
                    </div>
                </div>

               
                    @Html.MvcSiteMap().Menu(false)                    
                    @*<li>
                        <a href="#"><span class="nav-label">Tarifario</span><span class="fa arrow"></span> </a>
                        <ul class="nav nav-second-level">
                            <li><a href="panels.html">Medio</a></li>
                            <li><a href="typography.html">Vehículo</a></li>
                            <li><a href="buttons.html">Espacio</a></li>
                            <li><a href="components.html">Interfaz SAP</a></li>                            
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span class="nav-label">Pauta</span><span class="fa arrow"></span> </a>
                        <ul class="nav nav-second-level">
                            <li><a href="contacts.html">Armado de pauta</a></li>
                            <li><a href="projects.html">Aprobación de pauta</a></li>
                            <li><a href="project.html">Interfaz FCMedios - SAP</a></li>                            
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span class="nav-label">Certificaciones</span><span class="fa arrow"></span> </a>
                        <ul class="nav nav-second-level">
                            <li><a href="chartjs.html">Registración de Certificación</a></li>
                            <li><a href="flot.html">Alertas de usuario</a></li>
                            <li><a href="inline.html">Workflow</a></li>
                            <li><a href="chartist.html">Stock</a></li>
                            <li><a href="c3.html">Provisión</a></li>
                            <li><a href="project.html">Interfaz FCMedios - SAP</a></li>      
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span class="nav-label">Reporting</span><span class="fa arrow"></span> </a>
                        <ul class="nav nav-second-level">
                            <li><a href="overview.html">Tarifario</a></li>
                            <li><a href="transition_two.html">Campañas</a></li>
                            <li><a href="transition_one.html">Columns custom</a></li>
                            <li><a href="transition_three.html">Visual de pauta</a></li>
                            <li><a href="transition_four.html">Certificaciones</a></li>                            
                        </ul>
                    </li>*@                  
                </ul>
            </div>
        </aside>

        <!-- Main Wrapper -->
        <div id="wrapper">

            <div class="content animate-panel">
                @RenderBody()
            </div>        

            <!-- Footer-->
            <footer class="footer">
                <span class="pull-right">
                  
                </span>
                IRSA @DateTime.Now.Year
            </footer>

        </div>

        

        @Scripts.Render("~/bundles/scripts/angularScripts")
        @RenderSection("Scripts", required: false)
    </body>
</html>