<!DOCTYPE html>
<html lang="en" class="app" ng-app="@ViewBag.ngApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Planificación de Medios</title>

    @Styles.Render("~/Content/css/styles")
    @Scripts.Render("~/bundles/scripts/basicScripts")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
</head>
    <body class="fixed-navbar fixed-sidebar">                      
        <!-- Header -->
        <div id="header">
            <div class="color-line">
            </div>
            <div id="logo" class="light-version">
                <a href="/Home/Index">
                    <i class="logo-irsa"></i>
                </a> 
            </div>
            <nav role="navigation">
                <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
                <div class="small-logo">
                    <a href="/Home/Index">
                        <i class="logo-irsa"></i>
                    </a> 
                </div>              
                <div class="mobile-menu">                           
                </div>
                <div class="navbar-right">

                </div>
            </nav>
        </div>

        <!-- Navigation -->
        <aside id="menu">
            <div id="navigation">
                <div class="profile-picture">                   
                    <div class="stats-label text-color">
                        <span class="font-extra-bold font-uppercase">SPoszalski</span>                                            
                    </div>
                </div>              
                @Html.MvcSiteMap().Menu(false)                                                     
            </div>
        </aside>

        <!-- Main Wrapper -->
        <div id="wrapper">
            <div class="content animate-panel">
                @RenderBody()
                <loading></loading>
            </div>        

            <!-- Footer-->
            <footer class="footer">
                <span class="pull-right"></span>
                IRSA @DateTime.Now.Year
            </footer>

        </div>
        
        @Scripts.Render("~/bundles/scripts/angularScripts")
        @RenderSection("Scripts", required: false)
    </body>
</html>